.appWrapper {
  display: flex;
  flex-direction: column;
}

.columnsWrapper {
  display: flex;
  height: calc(100vh - 216px);
}
.Selected {
  background-color: white;
  border: 2px blue solid;
  border-radius: 10px;
  padding: 1px;
}
